<div class="container mx-auto flex flex-col items-center">
  <p>Digite o nome para consultar nas listas de agendamento:</p>
  <br />
  <input
    class="text-center"
    type="text"
    name="name"
    id="name"
    size="60"
    placeholder="JOSE MARIA DA SILVA"
    #nameInput
  />
  <br />
  <button
    class="px-4 py-2 bg-blue-600 text-white rounded"
    (click)="search(nameInput.value)"
  >
    Procurar
  </button>

  <img *ngIf="isLoading" src="/assets/spinner.gif" />

  <table *ngIf="agendamento" class="table-auto mt-16">
    <thead class="table-header-group">
      <th>Nome</th>
      <th>Bairro</th>
      <th>Local de Vacinação</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Dose</th>
      <th>Nascimento</th>
    </thead>
    <tbody>
      <td>{{ agendamento.name }}</td>
      <td>{{ agendamento.neighborhood }}</td>
      <td>{{ agendamento.vaccinationSite }}</td>
      <td>{{ agendamento.vaccinationData }}</td>
      <td>{{ agendamento.vaccinationHour }}</td>
      <td>{{ agendamento.dose }}</td>
      <td>{{ agendamento.birthday }}</td>
    </tbody>
  </table>
</div>
